.page {
    font-family: arial, sans-serif;
    text-align: center;
}

.nav {
    margin-bottom: 10px;
}

.heading {
    margin: 0px;
}

.subheading {
    margin-bottom: 40px;
}

.post {
    text-align: left;
}

.dream {
    text-align: left;
}

ul.post-link-list {
    list-style: none;
}